@import "header";
@import "main";
@import "footer";
@import "media";

@font-face {
  font-family: "Helvetica", sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica-Bold", sans-serif;
  src: url(../fonts/Helvetica-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}
button {
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.section-title {
  text-transform: uppercase;
  font-weight: 400;
}

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-style: 16px;
  line-height: 1.4;
  color: #5c5c5e;
  min-width: 320px;
  overflow-x: hidden;
}
